extends layout

block css
  link(type='text/css' rel='stylesheet' href='/css/pages/index.css')

block js
  script(src='/js/index.js')
  include includes/ga

block content
  include includes/components/header
  .content
    for day in days
      .day
        time.date-area
          h4.day-name Today
          h3.date October 10th
        ul.posts
          for product in day.products
            li.post
              .left
                button.downvote(data-productid=product._id)
                  .arrow
                  .vote-count -#{product.downvotes}
                .description
                  a.website(href=product.link target='_blank')
                    .title= product.title
                  .tagline= product.tagline
              .right
                .user-image
                  a(href='/' + product.posterUser.twitterUsername)
                    img.img(src=product.posterUser.twitterProfilePicture)